@media (min-width: 47rem) {
  main {
    max-width: 65rem;
    margin: auto;
    padding: 2rem;
    border-radius: $border-radius * 5;
  }

  .sign-up-form {
    flex-direction: row-reverse;
    &__image,
    &__content {
      width: 50%;
    }

    &__content {
      justify-content: center;
      align-items: flex-start;
    }
  }
}
